#
# If using newer NVIDIA GPUs, install this version of tensorflow 1 instead: https://github.com/NVIDIA/tensorflow
# as the official Google tensorflow 1 doesn't support newer NVIDIA GPUs.
# All releases are >= 1.15: https://github.com/NVIDIA/tensorflow/tags
# Command one-liner (need Python 3.8):
# pip install nvidia-pyindex && pip install nvidia-tensorflow[horovod]
#
# Pytorch >= 1.7 with CUDA toolkit >= 11 is also required in this case.
#
Cython; python_version >= '3.8'  # For building pandas 0.24 wheel.
googledrivedownloader~=0.4
jax~=0.3.23
jaxlib~=0.3.22
jupyter~=1.0.0
loguru~=0.6.0
numpy~=1.18.5
pandas~=0.24.2
scikit_learn~=0.22.2
scipy~=1.4.1
tensorflow~=1.15.0  # See comment at the top.
torch>=1.6.0
tqdm~=4.61.0
